<!doctype html>
<html
  lang="pt-br"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: main-layout(~{::title}, ~{::main})}"
>
  <head>
    <title>Javalanches - Nova Produto</title>
  </head>
  <body>
    <main>
      <h1>Cadastro de novo Produto</h1>
      <hr />
      <form method="POST">
        <div class="row">
          <div class="col-12 col-lg-4 mb-3">
            <label for="nomeProduto" class="form-label">Nome do Produto</label>
            <input
              type="text"
              class="form-control"
              id="nomeProduto"
              name="nomeProduto"
              required
            />
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <label for="preco" class="form-label">Preço</label>
            <input
              type="number"
              class="form-control"
              id="precoProduto"
              name="precoProduto"
              step="0.01"
              required
            />
          </div>
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <label for="categoriaId" class="form-label">Categoria</label>
            <select class="form-select" name="categoriaId" id="categoriaId">
              <option value="" disabled selected>
                Selecione uma categoria.
              </option>
              <option
                th:each="cat:${categorias}"
                th:value="${cat.codigoCategoria}"
                th:text="${cat.nomeCategoria}"
              ></option>
            </select>
          </div>
          <div class="col-12 mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <textarea
              class="form-control"
              id="descricao"
              name="descricao"
              rows="4"
              maxlength="250"
            ></textarea>
          </div>
        </div>
        <div class="d-flex justify-content-start">
          <button type="submit" class="btn btn-primary">
            Cadastrar produto
          </button>
        </div>
      </form>
    </main>
  </body>
</html>
