<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Linkin Park</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          crossorigin="anonymous">
</head>
<body>

    <!-- Header -->
    <header th:replace="~{fragments/header :: header}"></header>

    <!-- Conteúdo principal -->
    <main class="container py-5">
        <div class="text-center">
            <h1 class="mb-4">Linkin Park</h1>

            <!-- Imagem -->
            <img th:src="@{/img/linkinpark.jpg}"
                 alt="Linkin Park"
                 class="img-fluid rounded shadow">

            <p class="mt-4 fs-5">
                Página criada com Thymeleaf utilizando imagem da pasta
                <code>src/main/resources/static/img</code>.
            </p>
        </div>

    </main>

    <!-- Footer -->
    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>

</body>
</html>