<!doctype html>
<html
  lang="pt-br"
  xmlns:th="http://thymeleaf.org"
  th:replace="~{fragments/layout :: main-layout(~{::title}, ~{::main})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <main>
      <h1>Home page</h1>
      <hr />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est id repellat
        voluptatem at aperiam, cum modi harum consectetur temporibus voluptas.
        Dignissimos natus placeat mollitia in tempore voluptate animi et
        accusamus.
      </p>
    </main>
  </body>
</html>
