.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.card {
    padding: 2rem;

}

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    gap: 2rem;
}

button {
    padding: 0.5rem 1.2rem;
    border-radius: 0.2rem;
}

.send {

    background: green;
    color: white;
}